@media only screen and (min-width: 42rem) {


#welcome-image {
    float: left;
    margin-right: 25px;
    display: block;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    border-radius: 50%;
    flex-shrink: 1;
    }
    
    section {
    max-width: 600px;
    margin: 0 auto;
    }
    
    .parallax {
    padding: 2px;
    height: 400px;
    }
    

/* #weather_section {
    display: grid;
    grid-template-areas:  
    "weather" "forecast";
    border-style: double;
    } */

.contact_map{
    display: flex;
    justify-items: center;
    
    }

}






