:root {
    --primary-color: #74d3f0;
    --secondary-color: #f5ec9e;
    --third-color: #f8a460;
    --fourth-color: #dd7ffa;
    --primary-font: "Mukta", sans-serif;
    --secondary-font: "Outfit", sans-serif;
  }
  
  html {
    background-color: var(--primary-color);
  }
  
header, footer {
  display: flex;
  background-color: var(--fourth-color);
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;
  padding: 1rem;
  font-family: var(--primary-font);
}

h1{font-size: 3rem;}

h1,h2,h3,h4,h5,h6{
  font-family: var(--secondary-font);
  font-weight: 800;
  text-decoration: underline;
  }

p{
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

/********************/
/*NAVIGATION SECTION*/
/********************/

nav {
  margin: 0 auto;
  max-width: 900px;
  }

nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background-color: black;
  transition: 0.5s;
  border-radius: 25px;
  margin: 2px;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

nav button {
  background-color: #f6f1ea;
  transition: 0.5s;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--secondary-color);
  /* #f2f3ae; */
  color: #36454f;
  border-radius: 50px;
}

#primarynav a#current-page {
  background-color: black;
  color: rgb(247, 174, 174);
  box-shadow: 0 0 10px var(--main-color);
  font-style: oblique;
  font-weight: bolder;
}

/********************/
/* Hamburger button */
/********************/

#hamburgerbtn span:nth-child(1) {
  display: block;
  align-items: center;
}
#hamburgerbtn span:nth-child(2) {
  display: none;
}

#hamburgerbtn.open span:nth-child(1) {
  display: none;
}
#hamburgerbtn.open span:nth-child(2) {
  display: block;
}


#map {
  border-style: double;
}

.lower {
  /* make .lower have content spread across the section */
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin: 5px;
  max-width: 900px;
  margin: 2PX;
  padding: 0.5rem;
  background-color: var(--third-color);
  border-radius: 25px;
}

#rental_agreement {
  background-color: var(--secondary-color);
}

#address {
  padding: 10px;
}

.form-wrap {
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  margin: 5px;
  max-width: 900px;
  margin: 2PX;
  padding: 0.5rem;
  background-color: var(--third-color);
  border-radius: 25px;
  font-family: var(--secondary-font);
}

#heading{
  display: flex;
  align-content: space-around;
  text-align: center;
  margin: 5px;
  max-width: 900px;
  margin: 2PX;
  padding: 0.5rem;
  background-color: var(--third-color);
  border-radius: 25px;
}

#logo {
  border-radius: 50px;
}

.tour{
  display: block;
  justify-items: center;
  margin: 5px;
  max-width: 900px;
  margin: 2px;
  padding: .75rem;
  background-color: var(--third-color);
  border-radius: 25px;
  align-items: center
    }

.tour_img
{ border-radius: 50px;
  border-style: double;
  width: 75%;
  height: auto;
}