@media only screen and (min-width: 65rem) {

  body{
  max-width: 1400px;
}

  nav button {
    display: none;
  }

  nav ul#primarynav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1em;
    padding: 10px;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
  }

  .logo {
    max-width: 350px;
  }

  .hero, .forecast, .article, .contact {
    background-color: #fff6f6;
  }


.gallery {
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
 }
 
 .gallery picture {
 justify-self: center;
 padding: 1rem;
 }
 
 picture img {
 width: 95%;
 border-style: double;
 }
 
 picture:hover {box-shadow: 0 0 50px lightyellow;}
 
}