:root {
  --primary-color: #caf0f8;
  --secondary-color: #827c7c;
}

html {
  background-color: var(--primary-color);
}

header,
footer {
  background-color: #023e8a;
  padding: 5px;
  color: white;
  border: black solid 2px;
  text-align: center;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  margin: auto;
}

main {
  border-bottom: 2px solid black;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: black solid 2px;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-right: 35px;
  font-family: "Mukta", sans-serif;
}

.headings {
  display: grid;
  grid-template-columns: 8rem 1fr;
  font-size: 1em;
  padding: 10px;
}

.motto {
  font-size: 0.7em;
}

.cityname {
  display: block;
  font-size: 2em;
  font-family: "Mukta", sans-serif;
  padding-top: 20px;
  padding-right: 35px;
  align-content: center;
  text-align: center;
}

.hero, .forecast, .article, .contact {
  display: block;
  border-style: double;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  color: #444;
  font-style: oblique;
}

#banner {
  background-color: yellow;
  color:#023e8a;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  }

ul {
  list-style: square;
}

footer a,
footer a:visited,
li a:visited {
  color: lightskyblue;
}

nav a.current_page,
nav a:active {
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  z-index: 9;
}

.article_img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-style: double;
  align-content: center;
  text-align: center;
}

.weather_img {
  max-width: 10%;
  height: auto;
  overflow: hidden;
  border-style: double;
  align-content: center;
  text-align: center;
}

table {
  background-color: lightgrey;
  margin: 1rem;
  border: solid black ;
  color: black;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-style: double;
  align-content: center;
  text-align: center;
}


th {
  background-color: lightgreen;
  color: #FFF;
  padding: 1.5rem;
  font-size: 1rem;
  border:solid black .1rem;
}

td {
  border: dashed black .1rem; 
  padding: .2rem;
 
}
section.overview {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  color: black;
  padding-left: 15px;
}
section.overview h4 {
  grid-column: span 3;
  margin-bottom: 0;
  text-align: center;
}

div.hero {
  z-index: 1;
  position: relative;
  min-height: 250px;
  background-image: url("../images/wdd230_image_franklinOriginal.webp");
  background-size: cover;
  background-position: left bottom;
  overflow: hidden;
  border-style: double;
}

div.hero section {
  top: 20px;
  left: 20px;
  width: 325px;
  position: absolute;
  height: calc(100% - 40px);
  background: rgba(255,255,255,0.3);
  background-image: linear-gradient(-160deg, rgba(255,255,255,0.4) 35%, rgba(100,100,100,0.9));
  border-style: double ;
}

/********************/
/* Hamburger button */
/********************/

nav {
  margin: 0 auto;
  max-width: 900px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background-color: #373737;
  transition: 0.5s;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerbtn span:nth-child(1) {
  display: block;
  align-items: center;
}
#hamburgerbtn span:nth-child(2) {
  display: none;
}

#hamburgerbtn.open span:nth-child(1) {
  display: none;
}
#hamburgerbtn.open span:nth-child(2) {
  display: block;
}

nav button {
  color: #536878;
  background-color: #f6f1ea;
  transition: 0.5s;
  border: none;
  font-size: 2rem;
}

nav a:hover {
  background-color: #f2f3ae;
  color: #36454f;
}

/****************/
/* Coming Soon  */
/****************/

#coming_soon {
  max-width: 95%;
  border-radius: 5%;
  border-style: double;
}

.logo,
.map {
  max-width: 300px;
  border-radius: 5%;
  border-style: double;
}

.work {
  text-align: center;
  background-color: lightgoldenrodyellow;
}
